extends layout 

block content 
  h1= title 

  ul(class='homepage') 
    each message in list 
      li(class='') 
        p #{message.title}
        div(class='')
          p #{message.message}
          p #{message.date_formatted}
          p #{message.user.username}    

    else 
      li There are no messages.